.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  box-shadow: 0 10px 20px aqua;
  z-index: 10000;
  height: 100px;
  padding: 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 100px;
    padding: 0;
  }

  .header_container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 100px;
    padding: 0;
  }
  .header_container {
    padding: 0;
  }
}
