@import "modern-normalize";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-font: "Inter", sans-serif;
  --background-color: #000000;
  --text-color: #fff;
  --accent-color: #47e3f1;
  color-scheme: light dark;
}

.light {
  --background-color: #8b8888;
  --text-color: black;
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-color);
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 80px;
}

a {
  text-decoration: none;
}
